# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used Data science libraries
* Create Data science Tools table
* Simple arithmetic expressions in Python
* Show how to convert units (minutes to hours).

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy
4. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|RStudio           |
|Appache Zeppelin  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Waheed Ali